In [16]:
import pandas as pd
import collections
import couchdb
import json
import pandas as pd
from collections import Counter, defaultdict
import csv
import geopandas as gpd
import shapely
import re
import helper
import spacy
import nltk
nlp = spacy.load('en_core_web_lg')
regex = re.compile('[^a-zA-Z ,]')

In [17]:
couch_server = couchdb.Server("http://admin:group2@115.146.84.108:9584/")
db = couch_server['twitter']
view = db.view('_design/counts/_view/location', reduce=True, group=True)

In [18]:
count = Counter()
for item in view:
    key = regex.sub('', item.key).strip()
    value = item.value
    count[key] += item.value

In [19]:
len(count)

3051

In [20]:
df = pd.DataFrame(count.items())
df = df.rename(index=str, columns={0: "place", 1: "counts"})

In [21]:
df.sort_values('counts', ascending = False)

                               place  counts
11                         Australia   19562
1548             Melbourne, Victoria    6324
2623         Sydney, New South Wales    5980
2513                          Sydney    4198
1436                       Melbourne    3456
479             Brisbane, Queensland    3344
2006        Perth, Western Australia    3274
2600               Sydney, Australia    3116
1513            Melbourne, Australia    2825
2158           Queensland, Australia    2588
7                           Canberra    1825
1717      New South Wales, Australia    1753
2834             Victoria, Australia    1718
81         Adelaide, South Australia    1642
432                         Brisbane    1462
1044          Gold Coast, Queensland    1222
14                  Sydney Australia    1068
2147                      Queensland     991
63          Adelaide South Australia     980
2934               Western Australia     903
624              Canberra, Australia     745
2379      South Australia, Australia     726
467              Brisbane, Australia     712
2380                 South Australia     682
47                          Adelaide     591
1477             Melbourne Australia     589
2492      Sunshine Coast, Queensland     565
1553  Melbourne, Victoria, Australia     522
1970                           Perth     501
2818                        Victoria     459
...                              ...     ...
1386                  Manchester, VA       1
1380               Majorca, Victoria       1
1447            Melbourne ,Australia       1
1455       Melbourne Wurundjeri Land       1
1519  Melbourne, Bictoria, Australia       1
1458                   Melbourne  AU       1
1517             Melbourne, Autralia       1
1516              Melbourne, Austria       1
1515     Melbourne, Australia not FL       1
1507       Melbourne, AU  Warsaw, PL       1
1505                   Melbourne, AR       1
1500     Melbourne Victoria Austalia       1
1497         Melbourne Vic Australia       1
1496                Melbourne VIC AU       1
1492            Melbourne via Sydney       1
1490        Melbourne via Brancaster       1
1488      Melbourne Oz Bunurong Land       1
1486                   Melbourne now       1
1483     Melbourne by way of Mildura       1
1481   Melbourne Beach, FL  The Road       1
1479             MELBOURNE Australia       1
1473                   Melbourne Aus       1
1471   Melbourne AU  often US and EU       1
1469           Melbourne and Memphis       1
1468              Melbourne and Fiji       1
1467          Melbourne and Brisbane       1
1465                  Melbourne  AUS       1
1464     Melbourne  Singapore  Osaka       1
1460            Melbourne  Peninsula       1
3050                               ,       1

[3051 rows x 2 columns]

In [8]:
df.shape

(2830, 2)

In [23]:
tag=list()
locations=list()
for index, location in enumerate(count.keys()):
    doc = nlp(location)
#     print(index, doc)
    for ent in doc.ents:
        locations.append(ent.text)
        tag.append(ent.label_)
#         print(ent.text, ent.label_)

In [27]:
fd=nltk.FreqDist(locations)
fd.most_common(100)

[('Australia', 645),
 ('Sydney', 316),
 ('Melbourne', 282),
 ('Victoria', 211),
 ('Queensland', 153),
 ('Brisbane', 126),
 ('NSW', 87),
 ('New South Wales', 78),
 ('Adelaide', 72),
 ('Perth', 69),
 ('Portland', 66),
 ('Canberra', 63),
 ('Tasmania', 61),
 ('Western Australia', 54),
 ('Newcastle', 53),
 ('South Australia', 52),
 ('Richmond', 44),
 ('Hamilton', 32),
 ('UK', 23),
 ('London', 22),
 ('Canada', 22),
 ('USA', 21),
 ('Qld', 21),
 ('AU', 20),
 ('Albany', 20),
 ('Perth WA', 19),
 ('QLD', 19),
 ('Townsville', 19),
 ('Gold Coast', 17),
 ('Oregon', 16),
 ('NSW Australia', 16),
 ('Hobart', 16),
 ('Cairns', 16),
 ('Georgetown', 16),
 ('Orange County', 16),
 ('England', 15),
 ('Peterborough', 15),
 ('VIC', 14),
 ('AUSTRALIA', 14),
 ('NY', 13),
 ('FL', 13),
 ('Vic', 13),
 ('Geelong', 13),
 ('Ontario', 13),
 ('BC', 12),
 ('New York', 12),
 ('WA', 12),
 ('Wollongong', 11),
 ('Darwin', 10),
 ('Ballarat', 10),
 ('Sunshine Coast', 10),
 ('Qld Australia', 9),
 ('Indonesia', 9),
 ('Oz', 9),
 ('Wurundjeri', 9),
 ('New Zealand', 8),
 ('Warwick', 8),
 ('VA', 8),
 ('Aust', 8),
 ('North Queensland', 8),
 ('Toronto', 8),
 ('Toowoomba', 8),
 ('Shepparton', 8),
 ('Texas', 7),
 ('US', 7),
 ('Bendigo', 7),
 ('British Columbia', 7),
 ('California', 7),
 ('Roma', 7),
 ('Tyne', 7),
 ('Earth', 6),
 ('SA', 6),
 ('Albury', 6),
 ('Singapore', 6),
 ('Scotland', 6),
 ('West Australia', 6),
 ('Bathurst', 6),
 ('Victoria Australia', 6),
 ('Central Coast', 6),
 ('Emerald City', 6),
 ('TX', 6),
 ('Griffith', 6),
 ('Richmond Hill', 6),
 ('Wallaby Way', 5),
 ('Asia', 5),
 ('NZ', 5),
 ('Eora Nation', 5),
 ('Ayr', 5),
 ('Blue Mountains', 5),
 ('CA', 5),
 ('Ireland', 5),
 ('Nowra', 5),
 ('Maine', 5),
 ('St Kilda', 5),
 ('Alice Springs', 4),
 ('Northern Territory', 4),
 ('Armidale', 4),
 ('Manchester', 4),
 ('Brisbane City', 4),
 ('Aus', 4)]

In [26]:
import numpy as np
np.unique(tag)

array(['CARDINAL', 'DATE', 'EVENT', 'FAC', 'GPE', 'LOC', 'NORP', 'ORG',
       'PERSON', 'PRODUCT', 'WORK_OF_ART'], dtype='<U11')